<div class="text-center">
    <h3>Ne pare rau! </h3>
    <h2>Nu am putut Codul de Inregistrare Fiscala introdus de dumneavoastra!</h2>
    <div>
        <a asp-action="GetInfoAnaf">Back to List</a>
    </div>
</div>