<div class="text-center">
    <h4>Bine ai venit!</h4>
    <h5>Acesta este dashboard-ul tau!</h5>
    <h5>Aici vei gasi toate informatiile importante care necesita atentia ta.</h5>
    <h5>Vor exista rapoarte cat si o balanta a veniturilor tale.</h5>
</div>